@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box; /*so that if we add any border or any padding, it doesnt affect the width*/
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex; /*because we want to center everything*/
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}